<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="ParkingApp.ParkingApp" android:versionCode="1" android:versionName="1.0">
  <uses-sdk android:minSdkVersion="16" />
  <application android:label="ParkingApp">
    android:name="com.google.android.geo.API_KEY"
    android:value="AIzaSyAxeYnVCVNeUuE5W_l6xzgPMcJM1tW-kY4"/>
  </application>
  <user-permission android:name="com.googlemap.googlemap.permission.MAPS_RECEIVE" android:protectionLevel="signature" />

  <uses-permission android:name="com.googlemap.googlemap.permission.MAPS_RECEIVE" />
  <uses-permission android:name="com.google.android.providers.gsf.permisson.READ_GSERVICES" />

  <uses-permission android:name="android.permission.INTERNET" />

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>